.recommendations {
  width: 840px;
  min-height: 100px;
  max-height: 50vh;
  background-color: #fff;
  border-radius: 0 0 28px 28px;
  text-align: left;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}