.container {
  text-align: center;
  width: 100wh;
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
}

img.background {
  transform: translate(-25%, 0)
}

.search-box {
  position: relative;
  top: 115px;
  left: 50px;
}