.product-item {
  cursor: pointer;
  margin-bottom: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  &:hover {
    background-color: #f8f8f8;
  }
  .name-price {
    flex: 1;
    margin-left: 10px;
    margin: 0 10px;
  }
  .price {
    font-weight: bold;
  }
  img {
    margin-right: 10px;
    max-width: 50px;
    max-height: 50px;
  }
}