.text-item {
  cursor: pointer;
  padding: 5px 0;
  margin-bottom: 2px;
  font-weight: bold;
  overflow-x: hidden;
  white-space: nowrap;
  color: #333;
  &:hover {
    background-color: #f8f8f8;
  }
  .text-found {
    background: none;
    color: #999;
  }
}