.search-box-container {
  display: inline-flex;
  flex-direction: column;
  width: max-content;
  .search-input {
    font-size: 18px;
    line-height: 24px;
    padding: 16px 20px;
    margin: 0;
    border-radius: 56px;
    cursor: pointer;
    border: none !important;
    outline: none !important;
    color: #777;
    background: rgba(255, 255, 255, 1);
    width: 840px;
    &::placeholder {
      color: #555;
    }
    & ~.recommendations {
      display: none;
      position: relative;
      top: -10px;
    }
    &:focus {
      background: #fff;
      color: #333;
      border-radius: 28px 28px 0 0;
      &::placeholder {
        color: #333;
      }
      & ~.recommendations {
        display: block;
      }
    }
  }
}
